.skills {
  min-height: calc(100vh - 80px);
  background-color: bisque;
  position: relative;
  margin-top: -8%;
  z-index: 2;
}

.skills__title {
  padding-top: 40px;
  text-align: center;
  color: orange;
  z-index: 3;
}

.skills__cards {
  display: flex;
  position: relative;
  z-index: 3;
  justify-content: center;
}

.skills__cards__wave {
  position: absolute;
  background-color: bisque;
  bottom: 0px;
}

@media (max-width: 1300px) {
  .skills__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
