.projects {
  background-color: var(--dark-blue);
  min-height: calc(100vh - 100px);
  position: relative;
}

.teste {
  height: 100%;
}
.projects__wave {
  position: absolute;
  background-color: bisque;
  z-index: 2;

  width: 100%;
  position: absolute;
  bottom: 0;
}

.projects__title {
  text-align: center;
  position: relative;
  z-index: 2;
}
