.about_me {
  background-color: rgb(233 222 205);
  height: 100vh;

  font-size: 25px;
  position: relative;
}

.about_me__content {
  height: calc(100vh + 80px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.about_me__title {
  color: #161751;
  text-align: center;
  padding-bottom: 30px;
}

.about_me__image {
  height: 220px;
}

.about_me__text {
  width: 420px;
}

.about_me__logos_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_me__wave {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.about_me__first_wave {
  animation: moveWave1 3s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
  from {
    transform: translate(-1800px);
  }
}

.about_me__second_wave {
  animation: moveWave2 3s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
  from {
    transform: translate(-1600px);
  }
}

.about_me__third_wave {
  animation: moveWave3 3s ease-in-out infinite alternate;
}

@keyframes moveWave3 {
  from {
    transform: translate(-1400px);
  }
}

@media (max-width: 740px) {
  .about_me__image {
    height: 184px;
  }
}

@media (max-width: 425px) {
  .about_me__image {
    height: 124px;
  }
}
